body {
    background-color: lightgray;
}
.container {
    width:50%;
    margin: 0 auto;

}
input[type="number"]::-webkit-inner-spin-button ,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  
}

.lastResult {
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
}

button {
    border-radius: 20px;
    
}